/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/*
 * !CONTENTS............Sections contained in this style sheet 
 * !VARIABLES...........Sass color variables
 * !FONT................Install this line to use the Google Font
 * !RESET...............Removes browser's default styling
 * !BUTTON-BASE.........Base styles for the buttons
 * !BUTTON-BASE-HOVER...Hover styles for the buttons
 * !MODIFIERS...........Classes that modify the base button styles
 * !DISABLED............Stlyes for disabled buttons in the base class
 * 
 * The ! before section titles makes this file easily searchable. Simply copy 
 * the section title (ex: !RESET) and paste into your text editor's search 
 * function to jump to that section of the file. 
 */
/*------------------------------------*\
   !VARIABLES
\*------------------------------------*/
/*
 * The button colors can be easily changed in the SCSS file. Please see 
 * the readme file included in this package for more information on how to use 
 * SASS to change these colors.
 *
 * You can also easily change the width of your button's outline here. All of 
 * the button styles will update coorisponding to the new width, and the "big"
 * versions of the buttons will have twice the outline width.
 *
 * Don't see any styles in this section? You're probably in the buttons.css file.
 * To work with variables, you must make changes in the buttons.css.scss file. 
 */
/*-----------------------------------*\
    !MIXINS
\*-----------------------------------*/
/*
 * The following mixins make writing vendor prefixes in other parts of this
 * file a simpler process. You shouldn't have to change any of these directly.
 * If you need more information on utilizing them, please take a look at the 
 * readme file that came with your purchase.
 */
/*------------------------------------*\
    !FONT
\*------------------------------------*/
/*
 * Copy and paste the following line into the head of your HTML file to include
 * the Google Font "Lato".
        
<link href='http://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>

 * Further instructions for installing, changing, and utilizing Google Fonts is 
 * included in the readme file that came with your purchase.
 */
/*------------------------------------*\
    !RESET
\*------------------------------------*/
/*
 * This section removes existing or default button styles and ensures that 
 * the buttons look the same across different browsers. You may need to add to 
 * them if your theme or template already has button styles that break the flat
 * buttons.
 */
/* line 127, buttons.css.scss */
button.flat-button,
a.flat-button {
  box-sizing: border-box;
  background: none;
  font-style: normal;
  text-decoration: none;
  line-height: 1.5;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  text-shadow: none;
  text-decoration: none;
  overflow: hidden;
  display: inline-block;
  align-items: baseline;
  -webkit-font-smoothing: subpixel-antialiased;
}

/* line 142, buttons.css.scss */
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/*------------------------------------*\
    !BUTTON-BASE
\*------------------------------------*/
/*
 * These are the base styles for the flat button. If you want to add additional 
 * styles that will apply to all of your buttons, add them here. 
 */
/* line 160, buttons.css.scss */
.flat-button {
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  word-spacing: -0.025em;
  margin: .5em;
  padding: .4em;
  background: rgba(255, 255, 255, 0);
  cursor: pointer;
  color: #1abc9c;
  border: 1px solid;
  position: relative;
  overflow: hidden;
}

/* line 175, buttons.css.scss */
.flat-button:hover {
  color: #1abc9c;
}

/*------------------------------------*\
    !BUTTON-BASE-HOVER
\*------------------------------------*/
/*
 * These are the rules that control the directional hover states of your 
 * buttons. 
 *
 * For more information on implementing your buttons, take a look at the readme
 * file that was included with your purchase.
 */
/* line 194, buttons.css.scss */
.flat-button:before {
  content: attr(data-text);
  padding: inherit;
  color: #fff;
  border: none;
  position: absolute;
  background-color: #1abc9c;
  visibility: hidden;
  -webkit-trantition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-trantition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

/* line 206, buttons.css.scss */
.fb-bottom:before, .fb-top:before, .fb-left:before, .fb-right:before {
  visibility: visible;
}

/* line 210, buttons.css.scss */
.flat-button.fb-bottom:before {
  bottom: -100%;
  left: 0;
  -webkit-trantition-property: bottom;
  -moz-transition-property: bottom;
  -o-transition-property: bottom;
  transition-property: bottom;
}

/* line 216, buttons.css.scss */
.flat-button.fb-bottom:hover:before {
  bottom: 0px;
}

/* line 220, buttons.css.scss */
.flat-button.fb-top:before {
  top: -100%;
  left: 0;
  -webkit-trantition-property: top;
  -moz-transition-property: top;
  -o-transition-property: top;
  transition-property: top;
}

/* line 226, buttons.css.scss */
.flat-button.fb-top:hover:before {
  top: 0px;
}

/* line 230, buttons.css.scss */
.flat-button.fb-left:before {
  left: -100%;
  top: 0;
  -webkit-trantition-property: left;
  -moz-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
}

/* line 236, buttons.css.scss */
.flat-button.fb-left:hover:before {
  left: 0px;
}

/* line 240, buttons.css.scss */
.flat-button.fb-right:before {
  right: -100%;
  top: 0;
  -webkit-trantition-property: right;
  -moz-transition-property: right;
  -o-transition-property: right;
  transition-property: right;
}

/* line 246, buttons.css.scss */
.flat-button.fb-right:hover:before {
  right: 0px;
}

/*------------------------------------*\
    !MODIFIERS
\*------------------------------------*/
/* ---------  SIZES --------- */
/* line 264, buttons.css.scss */
.flat-button.fb-big {
  font-size: 1.75em;
  border: 2px solid;
}

/* line 269, buttons.css.scss */
.flat-button.fb-small {
  font-size: 1em;
}

/* ----- COLORS --------- */
/*
 * If you want to change these colors, the easiest way to do so is to change 
 * the color variables at the top of the SCSS file. For more instructions on 
 * doing that, please see the readme file included with your purchase. 
 */
/* line 281, buttons.css.scss */
.flat-button.fb-go {
  color: #2ecc71;
}

/* line 285, buttons.css.scss */
.flat-button.fb-go:before {
  background-color: #2ecc71;
}

/* line 289, buttons.css.scss */
.flat-button.fb-info {
  color: #3498db;
}

/* line 293, buttons.css.scss */
.flat-button.fb-info:before {
  background-color: #3498db;
}

/* line 297, buttons.css.scss */
.flat-button.fb-note {
  color: #34495e;
}

/* line 301, buttons.css.scss */
.flat-button.fb-note:before {
  background-color: #34495e;
}

/* line 305, buttons.css.scss */
.flat-button.fb-callout {
  color: #f1c40f;
}

/* line 309, buttons.css.scss */
.flat-button.fb-callout:before {
  background-color: #f1c40f;
}

/* line 313, buttons.css.scss */
.flat-button.fb-attention {
  color: #e67e22;
}

/* line 317, buttons.css.scss */
.flat-button.fb-attention:before {
  background-color: #e67e22;
}

/* line 321, buttons.css.scss */
.flat-button.fb-warning {
  color: #e74c3c;
}

/* line 325, buttons.css.scss */
.flat-button.fb-warning:before {
  background-color: #e74c3c;
  border-color: #e74c3c;
}

/*------------------------------------*\
    !DISABLED
\*------------------------------------*/
/* line 342, buttons.css.scss */
button.flat-button.disabled:hover,
button.flat-button.disabled:focus,
button.flat-button[disabled]:hover,
button.flat-button[disabled]:focus,
button.flat-button:disabled {
  color: #818181;
  box-shadow: none;
  cursor: default;
  background: none;
  border: 1px solid #818181;
}

/* line 350, buttons.css.scss */
.flat-button:disabled:before {
  display: none;
}
